{% extends 'base.html' %}

{% block content %}
    <div class="flex h-screen justify-center items-center bg-grey-300">
        <div class="container">
            <div class="text-center mb-4">
                <img class="mx-auto max-w-lg h-auto" src="img/logo.png" alt="logo" width="100">
                <b>Real Email Verify</b>
            </div>
            <form class="ml-2 mr-2" method="post" action="/">
                <label for="email" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                             stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                    <input type="text" id="email" name="email"
                           class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           value="{{ email }}"
                           placeholder="Enter email address" required>
                    <button type="submit"
                            class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Search
                    </button>
                </div>
            </form>

            {% if data %}
                {% if not data['success'] %}
                    <div class="p-4 mb-4 text-sm text-red-700 rounded-lg dark:bg-red-200 dark:text-red-800"
                         role="alert">
                        {{ data['message'] }}
                    </div>
                {% else %}
                    <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-7 ml-2 mr-2">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <tbody>
                            <tr class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="py-4 px-6">
                                    Status
                                </td>
                                <td class="py-4 px-6 text-green-500">
                                    Mailable
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <td class="py-4 px-6">
                                    Send From
                                </td>
                                <td class="py-4 px-6">
                                    {{ data['send_from'] }}
                                </td>
                            </tr>
                            <tr class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="py-4 px-6">
                                    Send To
                                </td>
                                <td class="py-4 px-6">
                                    {{ data['send_to'] }}
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <td class="py-4 px-6">
                                    Domain
                                </td>
                                <td class="py-4 px-6">
                                    {{ data['domain'] }}
                                </td>
                            </tr>
                            <tr class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="py-4 px-6">
                                    MX Record
                                </td>
                                <td class="py-4 px-6">
                                    {{ data['mx_record'] }}
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <td class="py-4 px-6">
                                    MX Cached
                                </td>
                                <td class="py-4 px-6">
                                    {{ data['mx_cached'] }}
                                </td>
                            </tr>
                            <tr class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="py-4 px-6">
                                    Response Code
                                </td>
                                <td class="py-4 px-6">
                                    {{ data['response_code'] }}
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <td class="py-4 px-6">
                                    Message
                                </td>
                                <td class="py-4 px-6">
                                    {{ data['message'] }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}